html {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: slategray;
    background-image: url("../images/brown_ice_by_darkwood67.jpg");
    background-size: 100vw 100vh;
}

@media screen and (orientation: landscape) {
    body {
        background-image: url("../images/brown_ice_by_darkwood67-landscape.jpg");
    }
}

#question-display {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 0;
    text-align: center;
}

.answer-card {
    position: relative;
    width: 200px;
    height: 60px;
    margin: 20px auto;
    background-color: #ffc93e3b;
    border: 2px solid #a96a2a47;
    text-align: center;
    text-overflow: clip;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.landing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.licence {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.licences {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result-display-text{
    height: 200px;
}

.wizard-emoji {
    padding-top: 15px;
}

.main-title {
    padding: 0px 10px 0px 10px;
    width: 15rem;
    text-align: center;
}

.main-title > h1 {
    font-size: 2.5rem;
    line-height: normal;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .main-title > h1{
        font-size: 2rem;
    }
}

.game-description{
    padding: 0 30px;
    width: 15rem;
    text-align: center;
}

.landing-buttons{
    padding: 15px;
    width: 15rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.landing-buttons > button{
    padding: 15px;
    width: 6rem;
    margin: 10px;
    border-radius: 20px;;

}

#start{
 background-color: #d0a2c4;
 color: black;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 1.3rem;
}

#options{
    background-color: #6b6d80;
    color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
}

#licences{
    background-color: #6b6d80;
    color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
}

@media screen and (orientation: landscape) {
    .landing {
        flex-direction: column;
    }
    .main-title {
        width: 80%
    }
}


h1{
    line-height: 1.5rem;
    font-family: 'Carter One', cursive;
}

h2{
    line-height: 1.5rem;
    font-family: 'Carter One', cursive;
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%
}

fieldset {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 0;
    margin-bottom: 15px;
}

input[type="checkbox"] {
    height: 30px;
    width: 30px;
}

input[type="range"] {
    height: 20px;
    width: 100%;
    margin-right: 12px;
    color: chocolate;
}

label {
    width: 90px;
    padding-left: 12px;
}

.music-toggle{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
}

.music-slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
}

form > button {
    margin: 10px auto;
    background-color: #6b6d80;
    color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    height: 50px;
    border-radius: 20px;
    
}

#delete-save {
    margin:  15px 5px 20px;
    background-color: #f96363;
    color: black;
    height: 60px;
}

#options-return {
    width: 100px;
}

#licence-return {
    padding: 15px;
    width: 6rem;
    margin: 10px;
    border-radius: 20px;
    background-color: #6b6d80;
    color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
}

header {
    background-color: #D7C9A5;
    margin: 0;
    height: 10%;

}

section {
    margin: auto 0;
}

footer {
    margin: 0;
    padding-bottom: 12px;
    height: 15%;
    display: flex;
}

#footer-options{
    margin: 0 auto;
    background-color: #6b6d80;
    color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
    height: 50px;
    border-radius: 20px;
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

/* The Licences */

.individual-licence{
    display: none;

    border: 1px solid black;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.5rem 1rem;
}

/* Media Queries for very narrow devices. */

@media screen and (max-width:360px) {
    html {
        font-size: 16px;
    }
    .game-description {
        padding: 0 15px;
    }
}

@media screen and (max-width:280px) {
    .game-description {
        padding: 0 15px;
    }
    .main-title {
        padding: 0;
    }
    .landing-buttons {
        padding: 15px 0;
    }
}